<h1>Your Results</h1>
<p>Thanks <%=@name%>! 
It is recommended that a <%=@gender%> of your age, height and weight should be consuming the following:</p>
Calories: <%=@tdee%>

The above numbers were calculated under the assumption that you are performing light exercise!